i {
	font-size: 30px;
	color: Gray;
}

.container {
	width: 90%;
	/*height: 580px;*/
	/*border: 1px solid LightGray;*/
	margin: 20px;
}

.nav-box {
	/*display: absolute;*/
	position: absolute;
	width: 140px;
	height: 400px;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid LightGray;
}

.nav-box > img {
	display: block;
	vertical-align: middle;
	margin-left: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-box {
	/*display: i*/
	position: absolute;
	width: 70%;
	/*height: 600px;*/
	margin-top: 20px;
	margin-left: 180px;
	border: 1px solid LightGray;
	/*overflow: scroll;*/
}

.quote-data {
	/*display: inline-block;*/
	width: 94%;
	margin-top: 5px;
	margin-left: 15px;
	border: 1px dotted LightGray;
	cursor: default;
}

.quote-data > * {
	margin-left: 5px;
}

#button-remove {
	display: inline;
}

.entry-form {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.entry-form > * {
	border-color: LightGray;
}

.filter-form {
	/*display: none;*/
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.filter-form > * {
	border-color: LightGray;
}

.ratings > * {
	display: inline-block;
}

.icon-star {
	display: inline-block;
	color: LightGray;
	font-size: 14px;
}

.gold-star {
	color: DarkOrange;
}

.nav-decor1 {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid LightGray;
	width: 80px;
	height: 350px;
}

.icon-cancel {
	font-size: 18px;
	color: black;
	position: relative;
	/*top: 20px;*/
	/*left: 340px;*/
	text-align: right;
}

.quote-text {
	font-size: 14px;
	color: black;
}

.quote-author {
	margin-left: 10px;
	margin-bottom: 2px;
	font-size: 12px;
	color: Gray;
}

.